/* 发货信息页页中间内容部分 */
.content-header+div{
    margin-top: 12px; 
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr>td,
.table-hover>tbody>tr:hover>td{
    background: #FFF;
    border: none;
}
.table.table-bordered thead tr th{
    border: none;
}
.table tbody>tr>td{
    vertical-align: middle;
}

.pro-info>ul{
    margin: 16px 0;
}
.pro-info>ul>li{
    padding: 0 0 4px;
    color: #787878;
}
.pro-info>p{
    color: #787878;
    font-size: 12px;
}
.pro-info>p>span:first-child{
    padding: 2px 8px;
    background: #D05A4E;
    color: #FFF;
}

.dd-num>li:first-child{
    padding-left: 0;
}
.dd-num>li:last-child{
    font-size: 14px;
}
.dd-num>li:last-child>span:first-child{
    margin-right: 20px;
}
.dd-num>li>input{
    font-size: 12px;
}
.dd-num>li>button{
    margin-left: 10px;
    padding: 6px 8px;
    line-height: 0.4;
    background: #FF8D06 !important;
    border-color: #FF8D06;
}
.btn:hover, .btn-default:hover,
.btn:focus, .btn-default:focus{
    background: #FF8D06 !important;
    border-color: #FF8D06;
}