html, body{
    background: #F5F5F5;
}

header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    background: #EEC434;
}
header>i:first-child{
    margin-left: 5%
}
header>i:last-child{
    margin-right: 5%; 
}


.container{
    height: 92%;
}

.weui-panel__bd{
    margin: 0 0 14px;
}                
.weui-panel__bd:first-child>.weui-media-box_text>.weui-media-box__title{
    margin-bottom: 4px;
}              
.weui-media-box__title>.weui-cell_access{
    padding: 4px 0;
}
.weui-media-box__title>a.weui-cell_access:active{
    background: #FFF;
}
.weui-cell__bd{
    color: #787878;
}
.weui-panel__bd:first-child>.weui-media-box_text>.weui-media-box__desc{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    color: initial;
}   

.weui-media-box:before{
    display: none;
}   

.wuList{
    margin-top: 14px;
    padding-top: 15px;
}    
.wuList>.weui-media-box{
    margin-left: 30px;
    padding-top: 0;
    border-left: 1px solid #BEBEBE;
}

.wuList>.weui-media-box>h4{
    line-height: 1.4;
    white-space: initial;
    text-overflow: initial;
}
.wuList .weui-panel__bd>a{
    padding: 0;
}

a.weui-media-box.weui-media-box_appmsg:active{
	background: #FFF;
}

.weui-media-box_appmsg .weui-media-box__hd{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.weui-media-box__bd>h4.weui-media-box__title{
    margin-bottom: 3px;
    line-height: 20px;
    white-space: initial;
    text-overflow: initial;
}

.fa-circle{
    top: 4px;
    left: -8px;
    color: #BEBEBE;
} 
.active{
    color: #E74D50;
}