	html, body{
		background: #F5F5F5;
	}
	
	header{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 8%;
		background: #EEC434;
	}
	header>i:first-child{
		margin-left: 5%
	}
	header>i:last-child{
		margin-right: 5%; 
	}

	.container{
		margin-top: 14px;
	}
				  
	.weui-panel__bd{
		margin-bottom: 14px;
	}

	 .codeSuccess{
		padding: 16px 0;
	}
	.weui-icon-success{
		margin: -6px 8px 0 0;
		font-size: 30px;
	}
	.weui-icon-success+span{
		font-size: 22px;
	}

	a.weui-media-box.weui-media-box_appmsg:active{
		background: #FFF;
	}	

	.weui-panel__bd .weui-media-box__hd{
		width: 100px;
		height: 80px;
		padding: 8px 0;
		line-height: 80px;
	}
	.weui-panel__bd .weui-media-box__hd>img{
		width: 80px;
	}
	.weui-panel__bd .weui-media-box__bd{
		line-height: 1.2;
	}
	.weui-media-box__title{
		margin-bottom: 10px;
		white-space: initial;
		text-overflow: initial;
	}
	.weui-media-box_text .weui-media-box__title{
		font-size: 15px;
		color: #999;
	}
	.weui-media-box__desc>div{
		margin-bottom: 8px;
	}
	.weui-media-box__desc span{
		color: #E74D50;
	}

	.knowBtn{
		bottom: 0;
		left: 0;
		color: #999;
	}
	.knowBtn>div>span{
		color: #E74D50;
	}
	.knowBtn>.weui-btn{
		width: 94%;
		margin: 8px auto 16px;
		background: #EEC434;
	}